/* FOOTER */
footer {
  background: rgb(83, 142, 155);
}

#ap_ticmas {
  justify-content: center;
  gap: 25px;
  padding: 1.7em;
  height: 100px;
  display: flex;
  max-width: 100%;
}

footer p {
  font-size: 11px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

#ticmas {
  scale: 80%;
}
